* {
    /* border: 2px solid red; */
}


/* -----------------CSS COLOR VARIABLE-------- */
:root {
    --primary: #272829;
    --secoundry: #61677A;
    --third: #D8D9DA;
    --footer: #FFF6E0;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*-------------------------- CSS FOR NAV BAR---------------------------------------------- */
.nav {
    background-color: var(--primary);
    color: var(--footer);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    margin: auto;
    z-index: 100;
}

/* --------------------------------------CSS FOR NAV IMAGE-------------------------------------- */


#logo>img {
    width: 190px;
    height: 130px;
}

/* -----------------------------------------CSS FOR LINKS-------------------------------------------- */
#links {
    display: flex;
    flex-direction: row;
    padding: 4px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

.nav>ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.nav>ul>li {
    list-style: none;
}

#links:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: ease-out 1s;
    transform: rotate(360deg);
}

/* -------------------------------------------------CSS FOR BODY PART------------------------------------- */
.body_part {
    background-color: var(--secoundry);
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;

}

#about {
    width: 50%;
}

#about>h1 {
    font-size: 40px;
    padding: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: var(--third);
}

#about>p {
    font-size: 15px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

#left_image {
    background-color: var(--third);
    width: 40%;
    margin: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: zoom-in;
    border-radius: 10px;
}

#left_image>img {
    padding: 17px;
    width: 555px;
    height: 300px;

}

#left_image>img:hover {
    opacity: 0.5;
}


/* ------------------------------------CSS FOR GALLERY------------------------ */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: var(--third);
    cursor: pointer;

}


#inner_gallery {
    background-color: var(--secoundry);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 4px;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}

/* -----------------CSS FOR BUTTTONN------------------- */
#inner_gallery>.add_btn {
    width: 100px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: rgb(3, 0, 0);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

#inner_gallery>.add_btn:hover {
    background-color: var(--primary);
    color: var(--third);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#inner_gallery>img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#main_img {
    background-color: red;
    margin: 10px;
}

/* ----------------CSS FOR NEXT BUTTON----------- */
#next_image {
    background-color: var(--third);
    /* align-items: center; */
    font-size: 17px;
    width: 130px;
    margin: auto;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 0px;
    

}

#next {
    text-align: center;
    margin: 10px;
}

#next_image:hover {
    background-color: var(--primary);
    color: var(--third);

}


/* CSS FOR FOOTER------------ */

#footer {
    background-color: var(--primary);
    padding: 10px;
    text-align: center;
    color: var(--third);
    font-family: cursive;
    letter-spacing: 2px;
}


/* FOR SOCIAL LINKS---------- */
#social_links {
    background-color: var(--primary);
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
}


#img1 {
    width: 30px;
   
    padding: 4px;
}

#img2 {
    width: 70px;
}

#img3 {
    width: 40px;
    
}

#social_links>h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
}

#social_links>h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
/* ------------------------------------MEDIA QUESRYY / RESPONSIVE ------------------------------------ */

/* ---------THIS MEDIA QUERY FOR 280 PX------------ */

@media only screen and (max-width: 450px) {
    /* body {
        background-color: brown;
    } */

    /* ------------CSS FOR NAV---- */
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    /* -------------CSS FOR LOGO IMAGE------- */
    #logo>img {
        width: 100px;
        height: 100px;
    }

    #nav>ul {
        padding: 0px;
        margin: 0px;
        gap: 0px;
        gap: 10px;
    }

    #nav>ul>li {
        padding: 9px;
        margin: 0px;
        justify-content: space-between;

    }

    #nav>ul>li>a:hover {
        text-decoration: underline;
    }

    /* _-------------CSS FOR BODY PART-------- */
    .body_part {

        width: 100vw;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    #about {
        width: 100vw;
    }

    #about>p {
        font-size: 12px;
        padding: 10px;
    }

    #left_image {
        display: none;
    }

    /* ------------CSS FOR GALLERY----------- */
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
    }

    #inner_gallery {
        gap: 0px;
        width: 36%;
    }

    #inner_gallery>img {
        width: 110px;
        height: 110px;
        object-fit: cover;
    }
}


/* FPR OTHER DEVIce */